* {
margin: 0%;
padding: 0%;
}



.navbar {
display: flex;
align-items: center;
padding: 10px;

}

.first-div {
display: flex;
gap: 20px;
}

.first-div > img {
width: 50px;
}

.first-div > input {
border-radius: 30px;
text-align: center;
background-color: #F0F2F5;

} 