* {
margin: 0%;
padding: 0%;
}

body {
    background-color: #F2F4F7;
}

.navbar {
display: flex;
align-items: center;
padding: 10px;
background-color: #Ffff;
}

.first-div {
display: flex;
gap: 20px;
}

.first-div > img {
width: 45px;
}       

.first-div > input {
border-radius: 30px;
text-align: center;
background-color: #F0F2F5;
padding-right: 50px;
} 


.Center-icons {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.Center-icons > i {
}