* {
margin: 0%;
padding: 0%;
}

body {
    background-color: #F2F4F7;
}

.navbar {
display: flex;
align-items: center;
padding: 10px;
background-color: #Ffff;
}

.first-div {
display: flex;
gap: 20px;
}

.first-div > img {
width: 45px;
}       

.first-div > input {
border-radius: 30px;
text-align: center;
background-color: #F0F2F5;
padding-right: 50px;
} 
/* 

.Center-icons {
    display: flex;
    gap: 30px;
    font-size: 30px;
    padding-left: 350px;

}
.Center-icons > i {

} */

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 270px;
}

.header-center > div {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
}

.header-center > div:hover {
  background-color: rgb(233, 233, 233);
}

.header-center > div > i {
  font-size: 22px;
  color: rgb(132, 132, 132);
}

.header-center > div:first-child {
  border-bottom: 3px solid #0866ff;
  border-radius: 0px;
  height: 100%;
}

.header-center > div:first-child:hover {
  background-color: white;
}

.header-center > div:first-child > i {
  color: #0866ff;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 0;
  padding-left: 240px;
}

.header-right .header-right-icons,
.header-right .user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right .header-right-icons > i {
  font-size: 20px;
}

.header-right > button {
  height: 40px;
  padding: 0px 15px;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
  border: none;
  font-weight: 600;
}

.header-right .user-profile {
  border: 1px solid gray;
  position: relative;
}

.header-right .user-profile .profile-arrow {
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-color: rgb(183, 183, 183);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.header-right .user-profile .profile-arrow > i {
  font-size: 12px;
}


